In [1]:
l1 = [1,2,3,4,5,6,7,8,9,10]
print(l1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [2]:
l2 = [[2,3],"element2",2,9.0,"element5"]
print(l2)

[[2, 3], 'element2', 2, 9.0, 'element5']

In [3]:
st1 , st2 = 'Hot' , 'Dog'
st3 = st1 + ' ' + st2
print(st3)

Hot Dog

In [4]:
tpl1 = (1,2,2,3,4,4,4,5)
tpl1.count(4)

3

In [5]:
dict1 = {}
print(dict1)

{}

In [6]:
dict1 = {'key0':'Blue','key1':'Green','key2':'Yellow'}
print(dict1)

{'key0': 'Blue', 'key1': 'Green', 'key2': 'Yellow'}

In [7]:
dict1['key3']= 'White'
print(dict1)

{'key0': 'Blue', 'key1': 'Green', 'key2': 'Yellow', 'key3': 'White'}

In [8]:
del dict1['key3']
dict1['key2'] = l2[0] 
print(dict1)

{'key0': 'Blue', 'key1': 'Green', 'key2': [2, 3]}

In [9]:
frase = 'Cientista de Dados é o profissional mais forte do século XXI'
print(frase[0:18])

Cientista de Dados

In [10]:
#Extra
print(l1[2:5])

[3, 4, 5]

In [11]:
import statistics as stat
import random

In [13]:
dir(stat)

['Decimal',
 'Fraction',
 'StatisticsError',
 '__all__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_coerce',
 '_convert',
 '_counts',
 '_exact_ratio',
 '_fail_neg',
 '_find_lteq',
 '_find_rteq',
 '_isfinite',
 '_ss',
 '_sum',
 'bisect_left',
 'bisect_right',
 'collections',
 'groupby',
 'harmonic_mean',
 'math',
 'mean',
 'median',
 'median_grouped',
 'median_high',
 'median_low',
 'mode',
 'numbers',
 'pstdev',
 'pvariance',
 'stdev',
 'variance']

In [14]:
dados = random.sample(range(150),10)
print(dados)

[142, 93, 118, 22, 35, 88, 43, 80, 70, 64]

In [16]:
mediana = stat.median(dados)
print(mediana)

75.0

In [21]:
print(stat.mean(dados))

print('\n')
stat.pstdev(dados)

75.5

35.259750424527965

In [25]:
#Cap 4
Lex1 , Lex1b = [3,4,5] , [6,7,8]
#calcular a potÊNCIA 3 de cada elemento
#forma 1 - usando função definida
def pot3(x):
    return (x**3)
print(list(map(pot3,Lex1)))
#forma 2 - usando função lambda
print(list(map(lambda x: (x**3),Lex1b)))

[27, 64, 125]
[216, 343, 512]

In [35]:
palavras = 'A Data Science Academy oferce os melhores cursos de análise de dados do Brasil'.split()
#original
resultado = [[w.upper(), w.lower(), len(w)] for w in palavras]
for i in resultado:
    print (i)
#Editad com map
A = list(map(lambda p: [p.upper(), p.lower(), len(p)],palavras))
for i in A:
    print(i)

['A', 'a', 1]
['DATA', 'data', 4]
['SCIENCE', 'science', 7]
['ACADEMY', 'academy', 7]
['OFERCE', 'oferce', 6]
['OS', 'os', 2]
['MELHORES', 'melhores', 8]
['CURSOS', 'cursos', 6]
['DE', 'de', 2]
['ANÁLISE', 'análise', 7]
['DE', 'de', 2]
['DADOS', 'dados', 5]
['DO', 'do', 2]
['BRASIL', 'brasil', 6]
['A', 'a', 1]
['DATA', 'data', 4]
['SCIENCE', 'science', 7]
['ACADEMY', 'academy', 7]
['OFERCE', 'oferce', 6]
['OS', 'os', 2]
['MELHORES', 'melhores', 8]
['CURSOS', 'cursos', 6]
['DE', 'de', 2]
['ANÁLISE', 'análise', 7]
['DE', 'de', 2]
['DADOS', 'dados', 5]
['DO', 'do', 2]
['BRASIL', 'brasil', 6]

In [50]:
#exer 3 - matriz transposta
matrix = [[1, 2],[3,4],[5,6],[7,8]] 
x ,y = [] , []
def MT(M):
    for v in M:
        x.append(v[0])
        y.append(v[1])
    return ([x,y])    
print(MT(matrix))
#Usando list compression
transpose = [[row[i] for row in matrix] for i in range(2)]
print(transpose)
#não precisa criar uma lista vazias, nem função

[[1, 3, 5, 7], [2, 4, 6, 8]]
[[1, 3, 5, 7], [2, 4, 6, 8]]

In [57]:
#exer 4 - criar duas funções(ao quadrado e ao cubo) e aplique na lista
lista = [0, 1, 2, 3, 4]
def quadrado(x):
    return (x**2)
def cubo(y):
    return (y**3)

final = list(map(cubo,list(map(quadrado,lista))))
print(final)

[0, 1, 64, 729, 4096]

In [71]:
#exer 5 - ELeve um elemento da lista pelo da outra lista
listaA = [2, 3, 4]
listaB = [10, 11, 12]

newlist1 = list(map(lambda xA,xB: xA**xB,listaA,listaB )) #Tudo dentro da lista
print(newlist1)
# ou apresentado um a um
newlist2 = [print(i) for i in list(map(lambda xA,xB: xA**xB,listaA,listaB ))]
# usando pow pow(x, y, z=None, /)  Equivalent to x**y (with two arguments)
list(map(pow,listaA,listaB ))

[1024, 177147, 16777216]
1024
177147
16777216

[1024, 177147, 16777216]

In [74]:
#exer 6 - usar filter para retornar os valores negativos
range(-5, 5)
list(filter(lambda x: x < 0,range(-5, 5)))

[-5, -4, -3, -2, -1]

In [78]:
#exer 7 - achar elementos comuns a ambas listas, usando filter
a = [1,2,3,5,7,9]
b = [2,3,5,6,7,8]
list(filter(lambda x: x in a , b))

[2, 3, 5, 7]

In [81]:
#exerc 8 - usar o pacote datetime
import datetime
print (datetime.datetime.now().strftime("%d/%m/%Y %H:%M"))

import time
print (time.strftime("%d/%m/%Y %H:%M"))

28/01/2020 01:56
28/01/2020 01:56

In [89]:
# Exer 9 - Considere os dois dicionários abaixo. 
# Crie um terceiro dicionário com as chaves do dicionário 1 e os valores do dicionário 2.
dict1 = {'a':1,'b':2}
dict2 = {'c':4,'d':5}

print(dict(zip(dict1,dict2.values()))) # solução direta, transformando em dicionário as tuplas

#Solução com função
def trocaValores(d1, d2):
    dicTemp = {}
    
    for d1key, d2val in zip(d1,d2.values()):
        dicTemp[d1key] = d2val
    
    return dicTemp

dict3 = trocaValores(dict1, dict2)
print(dict3)

{'a': 4, 'b': 5}
{'a': 4, 'b': 5}

In [100]:
# Exer 10 - Considere a lista abaixo e retorne apenas os elementos cujo índice for maior que 5.
lista = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h']

for i, v in enumerate(lista):
    if i > 5:
        print(v)
    else:
        continue

g
h

In [104]:
#Exercicios do cap 5
#Exer 1 - Crie um objeto a partir da classe abaixo, chamado roc1, passando 2 parâmetros e depois faça uma chamada
# aos atributos e métodos
from math import sqrt

class Rocket():
     
    def __init__(self, x=0, y=0):
        self.x = x
        self.y = y
        
    def move_rocket(self, x_increment=0, y_increment=1):
        self.x += x_increment
        self.y += y_increment
        
    def print_rocket(self):
        print(self.x, self.y)
        
roc1 = Rocket(3,5)
print(roc1.x,roc1.y)
trajet_roc1 = roc1.move_rocket(1,3)
print(trajet_roc1)
pos_roc1 = roc1.print_rocket()

3 5
None
4 8

In [109]:
# Exerc 2 - Crie uma classe chamada Pessoa() com os atributos: nome, cidade, telefone e e-mail. Use pelo menos 2
# métodos especiais na sua classe. Crie um objeto da sua classe e faça uma chamada a pelo menos um dos seus métodos
# especiais.

class Pessoa():
    ''' Essa classe cria cadastros'''
    def __init__(self, nome = 'Fulano', cidade = 'São Paulo', telefone = '00000000', email = 'fuh@email.com'):
        self.nome = nome
        self.cidade = cidade
        self.telefone= telefone
        self.email = email
        print('Individuo cadastrado com sucesso!')
        
    def __str__(self):
        return ' %s , mora na cidade %s. Contato via telefone: %s ou por email: %s' %(self.nome, self.cidade, self.telefone, self.email)
    
person = Pessoa('Noah', 'Belo Horizonte','22357904','noah@gmail.com') 

print(person)

person_default = Pessoa()

print(person_default)

Individuo cadastrado com sucesso!
 Noah , mora na cidade Belo Horizonte. Contato via telefone: 22357904 ou por email: noah@gmail.com
Individuo cadastrado com sucesso!
 Fulano , mora na cidade São Paulo. Contato via telefone: 00000000 ou por email: fuh@email.com

In [111]:
import os
import pandas as pd

In [121]:
newDF = pd.read_excel('copia.xlsx','Sheet1', index_col=0, na_values=['NA'])

In [122]:
newDF.head()

,DADOS PARA CALCULO DO RAIO full,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,DADOS PARA CALCULO DO RAIO B.K,Unnamed: 9,Unnamed: 10,...,Unnamed: 122,Unnamed: 123,Unnamed: 124,Unnamed: 125,Unnamed: 126,Unnamed: 127,Unnamed: 128,Unnamed: 129,Unnamed: 130,Unnamed: 131
Galaxy,SMA0 = y0,x0,SMA1 = y1,x1,TFLUX_E/2 = X,SMA obs,Rseeing conti r,Galaxy,SMA0 = y0,x0,...,NaN,NaN,NaN,Regression B.K L,NaN,NaN,NaN,NaN,NaN,NaN
C0840+1044,17.72,112.37,19.49,149.34,114.535,17.8237,6.23,C0840-1044_MC new,7.06,28.842,...,NaN,NaN,NaN,Regression Model,Linear,NaN,NaN,NaN,NaN,NaN
N-CTS1011,20.89,173.27,22.97,198.83,182.735,21.6602,6.06167,N-CTS1011_MC new,6.38,28.574,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
N-CTS1013,10.67,53.902,11.74,60.132,54.71,10.8088,7.2275,N-CTS1013_MC new,7.93,22.65,...,NaN,NaN,NaN,LINEST raw output,NaN,NaN,NaN,NaN,NaN,NaN
N-CTS1016,6.83,143.42,7.51,159.49,150.025,7.10949,4.053,N-CTS1016_MC new,4.63,70.65,...,NaN,NaN,NaN,2.27634,37.0296,NaN,NaN,NaN,NaN,NaN

In [123]:
print(newDF)

                                DADOS PARA CALCULO DO RAIO full Unnamed: 2  \
Galaxy                                                SMA0 = y0         x0
C0840+1044                                                17.72     112.37
N-CTS1011                                                 20.89     173.27
N-CTS1013                                                 10.67     53.902
N-CTS1016                                                  6.83     143.42
N-CTS1017 $   §                                             5.6     34.345
N-CTS1020                                                 10.53     253.29
N-CTS1022 §                                                5.64     181.31
N-CTS1034  Ha &                                           16.11     177.96
N-CTS1035  &                                              11.75      72.43
N-Fariall30=Mrk 1271 = [F80] 30                           17.72     487.44
N-IIZw40-conti                                            25.94     606.03
N-IIZW70-conti   &                                        16.27     1384.4
N-Mrk1318-conti                                            55.6     2993.5
N-Mrk36-conti  $ $                                        23.16     694.65
N-MS01-conti = [SC98] 01                                    8.9     118.12
N-MS12-conti = [ SC98] 68 $                               13.31     142.74
N-MS13-conti = [SC98] 88                                  10.25      230.2
N-Tol0505-conti                                           15.22     456.43
N-Tol0528-conti  $                                         16.5     317.04
N-Tol0610-conti                                           16.11     510.86
N-Tol0633-conti  &                                        16.04     350.81
N-Tol0645-conti &                                         19.85     292.66
N-Tol0957-conti                                           31.38     2172.7
N-Tol1004-conti Ha                                           47     7273.2
N-Tol1025-conti  &                                        16.11     715.26
N-Tol1147-conti                                           14.64     290.77
N-Tol1223-conti2 – 2stars                                 11.58      138.1
N-Tol1345-conti2 – star                                   15.69      386.5
N-Tol1924-conti – star Ha                                 20.89     2022.9
...                                                         ...        ...
NaN                                                         NaN        NaN
NaN                                                         NaN        NaN
NaN                                                         NaN        NaN
NaN                                                         NaN        NaN
NaN                                                         NaN        NaN
NaN                                                         NaN        NaN
NaN                                                         NaN        NaN
NaN                                                         NaN        NaN
NaN                                                         NaN        NaN
NaN                                                         NaN        NaN
NaN                                                         NaN        NaN
NaN                                                         NaN        NaN
NaN                                                         NaN        NaN
NaN                                                         NaN        NaN
NaN                                                         NaN        NaN
NaN                                                         NaN        NaN
NaN                                                         NaN        NaN
NaN                                                         NaN        NaN
NaN                                                         NaN        NaN
NaN                                                         NaN        NaN
NaN                                                         NaN        NaN
NaN                                                         NaN        NaN
NaN                                                         NaN        NaN
NaN                                                         NaN        NaN
NaN                                                         NaN        NaN
NaN                                                         NaN        NaN
NaN                                                         NaN        NaN
NaN                                                         NaN        NaN
NaN                                                         NaN        NaN
NaN                                                         NaN        NaN

                                Unnamed: 3 Unnamed: 4     Unnamed: 5  \
Galaxy                           SMA1 = y1         x1  TFLUX_E/2 = X
C0840+1044                           19.49     149.34        114.535
N-CTS1011                            22.97     198.83        182.735
N-CTS1013                            11.74     60.132          54.71
N-CTS1016                             7.51     159.49        150.025
N-CTS1017 $   §                       6.16     37.593         36.245
N-CTS1020                            11.58     276.63        266.815
N-CTS1022 §                           6.21     191.63         181.98
N-CTS1034  Ha &                      17.72     199.34         189.16
N-CTS1035  &                         12.69     79.387         75.165
N-Fariall30=Mrk 1271 = [F80] 30      19.49     524.97        489.955
N-IIZw40-conti                       28.53     640.91          629.6
N-IIZW70-conti   &                   17.89     1531.3        1473.85
N-Mrk1318-conti                      61.16     3213.3           3031
N-Mrk36-conti  $ $                   25.48     762.01         713.65
N-MS01-conti = [SC98] 01              9.43        124         123.78
N-MS12-conti = [ SC98] 68 $          14.64     161.94        152.725
N-MS13-conti = [SC98] 88             11.27     254.86         235.72
N-Tol0505-conti                      16.14      490.2         476.55
N-Tol0528-conti  $                   18.15     350.79         322.67
N-Tol0610-conti                      17.72     558.34         539.45
N-Tol0633-conti  &                      17     372.78         360.79
N-Tol0645-conti &                    21.64      319.5         318.35
N-Tol0957-conti                      34.52     2453.4           2442
N-Tol1004-conti Ha                   51.23     8116.5           7512
N-Tol1025-conti  &                   17.72     802.33            797
N-Tol1147-conti                      16.11     330.27        328.125
N-Tol1223-conti2 – 2stars            12.63     150.69        149.325
N-Tol1345-conti2 – star              17.26     429.05        417.625
N-Tol1924-conti – star Ha            22.97     2216.9           2066
...                                    ...        ...            ...
NaN                                    NaN        NaN            NaN
NaN                                    NaN        NaN            NaN
NaN                                    NaN        NaN            NaN
NaN                                    NaN        NaN            NaN
NaN                                    NaN        NaN            NaN
NaN                                    NaN        NaN            NaN
NaN                                    NaN        NaN            NaN
NaN                                    NaN        NaN            NaN
NaN                                    NaN        NaN            NaN
NaN                                    NaN        NaN            NaN
NaN                                    NaN        NaN            NaN
NaN                                    NaN        NaN            NaN
NaN                                    NaN        NaN            NaN
NaN                                    NaN        NaN            NaN
NaN                                    NaN        NaN            NaN
NaN                                    NaN        NaN            NaN
NaN                                    NaN        NaN            NaN
NaN                                    NaN        NaN            NaN
NaN                                    NaN        NaN            NaN
NaN                                    NaN        NaN            NaN
NaN                                    NaN        NaN            NaN
NaN                                    NaN        NaN            NaN
NaN                                    NaN        NaN            NaN
NaN                                    NaN        NaN            NaN
NaN                                    NaN        NaN            NaN
NaN                                    NaN        NaN            NaN
NaN                                    NaN        NaN            NaN
NaN                                    NaN        NaN            NaN
NaN                                    NaN        NaN            NaN
NaN                                    NaN        NaN            NaN

                                Unnamed: 6       Unnamed: 7  \
Galaxy                             SMA obs  Rseeing conti r
C0840+1044                         17.8237             6.23
N-CTS1011                          21.6602          6.06167
N-CTS1013                          10.8088           7.2275
N-CTS1016                          7.10949            4.053
N-CTS1017 $   §                    5.92759           4.8525
N-CTS1020                          11.1385             4.65
N-CTS1022 §                        5.67701          4.53167
N-CTS1034  Ha &                    16.9534             9.53
N-CTS1035  &                       12.1195          7.66833
N-Fariall30=Mrk 1271 = [F80] 30    17.8386             5.77
N-IIZw40-conti                     27.6902             6.82
N-IIZW70-conti   &                 17.2564            9.412
N-Mrk1318-conti                    56.5486           4.4975
N-Mrk36-conti  $ $                 23.8144                7
N-MS01-conti = [SC98] 01           9.41017          5.76125
N-MS12-conti = [ SC98] 68 $        14.0017           5.9275
N-MS13-conti = [SC98] 88           10.4783            6.035
N-Tol0505-conti                    15.7681            6.345
N-Tol0528-conti  $                 16.7752             5.48
N-Tol0610-conti                    17.0795            6.714
N-Tol0633-conti  &                 16.4761          9.27222
N-Tol0645-conti &                  21.5633           9.5375
N-Tol0957-conti                    34.3925          5.53778
N-Tol1004-conti Ha                 48.1978            4.712
N-Tol1025-conti  &                 17.6214            9.259
N-Tol1147-conti                    16.0302          6.91125
N-Tol1223-conti2 – 2stars          12.5162            3.667
N-Tol1345-conti2 – star            16.8384          4.72364
N-Tol1924-conti – star Ha          21.3521          5.49583
...                                    ...              ...
NaN                                    NaN              NaN
NaN                                    NaN              NaN
NaN                                    NaN              NaN
NaN                                    NaN              NaN
NaN                                    NaN              NaN
NaN                                    NaN              NaN
NaN                                    NaN              NaN
NaN                                    NaN              NaN
NaN                                    NaN              NaN
NaN                                    NaN              NaN
NaN                                    NaN              NaN
NaN                                    NaN              NaN
NaN                                    NaN              NaN
NaN                                    NaN              NaN
NaN                                    NaN              NaN
NaN                                    NaN              NaN
NaN                                    NaN              NaN
NaN                                    NaN              NaN
NaN                                    NaN              NaN
NaN                                    NaN              NaN
NaN                                    NaN              NaN
NaN                                    NaN              NaN
NaN                                    NaN              NaN
NaN                                    NaN              NaN
NaN                                    NaN              NaN
NaN                                    NaN              NaN
NaN                                    NaN              NaN
NaN                                    NaN              NaN
NaN                                    NaN              NaN
NaN                                    NaN              NaN

                                DADOS PARA CALCULO DO RAIO B.K Unnamed: 9  \
Galaxy                                                  Galaxy  SMA0 = y0
C0840+1044                                   C0840-1044_MC new       7.06
N-CTS1011                                     N-CTS1011_MC new       6.38
N-CTS1013                                     N-CTS1013_MC new       7.93
N-CTS1016                                     N-CTS1016_MC new       4.63
N-CTS1017 $   §                                     N-CTS1017         5.5
N-CTS1020                                     N-CTS1020_MC new       6.39
N-CTS1022 §                                          N-CTS1022       4.63
N-CTS1034  Ha &                               N-CTS1034_MC new       9.74
N-CTS1035  &                                  N-CTS1035_MC new       7.97
N-Fariall30=Mrk 1271 = [F80] 30             N-Fariall30_MC new       6.05
N-IIZw40-conti                           N-IIZw40-conti_MC new       7.35
N-IIZW70-conti   &                       N-IIZW70-conti_MC new       9.96
N-Mrk1318-conti                         N-Mrk1318-conti_MC new          5
N-Mrk36-conti  $ $                        N-Mrk36-conti_MC new       7.47
N-MS01-conti = [SC98] 01                   N-MS01-conti_MC new       5.96
N-MS12-conti = [ SC98] 68 $                N-MS12-conti_MC new       6.25
N-MS13-conti = [SC98] 88                   N-MS13-conti_MC new       6.05
N-Tol0505-conti                         N-Tol0505-conti_MC new        6.3
N-Tol0528-conti  $                      N-Tol0528-conti_MC new       5.72
N-Tol0610-conti                         N-Tol0610-conti_MC new       7.01
N-Tol0633-conti  &                      N-Tol0633-conti_MC new         10
N-Tol0645-conti &                       N-Tol0645-conti_MC new       9.96
N-Tol0957-conti                         N-Tol0957-conti_MC new      10.51
N-Tol1004-conti Ha                      N-Tol1004-conti_MC new       6.05
N-Tol1025-conti  &                      N-Tol1025-conti_MC new       9.25
N-Tol1147-conti                         N-Tol1147-conti_MC new       7.06
N-Tol1223-conti2 – 2stars               N-Tol1223-conti_MC new       3.86
N-Tol1345-conti2 – star                 N-Tol1345-conti_MC new          5
N-Tol1924-conti – star Ha               N-Tol1924-conti_MC new       6.66
...                                                        ...        ...
NaN                                                        NaN        NaN
NaN                                                        NaN        NaN
NaN                                                        NaN        NaN
NaN                                                        NaN        NaN
NaN                                                        NaN        NaN
NaN                                                        NaN        NaN
NaN                                                        NaN        NaN
NaN                                                        NaN        NaN
NaN                                                        NaN        NaN
NaN                                                        NaN        NaN
NaN                                                        NaN        NaN
NaN                                                        NaN        NaN
NaN                                                        NaN        NaN
NaN                                                        NaN        NaN
NaN                                                        NaN        NaN
NaN                                                        NaN        NaN
NaN                                                        NaN        NaN
NaN                                                        NaN        NaN
NaN                                                        NaN        NaN
NaN                                                        NaN        NaN
NaN                                                        NaN        NaN
NaN                                                        NaN        NaN
NaN                                                        NaN        NaN
NaN                                                        NaN        NaN
NaN                                                        NaN        NaN
NaN                                                        NaN        NaN
NaN                                                        NaN        NaN
NaN                                                        NaN        NaN
NaN                                                        NaN        NaN
NaN                                                        NaN        NaN

                                Unnamed: 10  ... Unnamed: 122    Unnamed: 123  \
Galaxy                                   x0  ...          NaN             NaN
C0840+1044                           28.842  ...          NaN             NaN
N-CTS1011                            28.574  ...          NaN             NaN
N-CTS1013                             22.65  ...          NaN             NaN
N-CTS1016                             70.65  ...          NaN             NaN
N-CTS1017 $   §                      29.511  ...          NaN             NaN
N-CTS1020                            88.088  ...          NaN             NaN
N-CTS1022 §                          87.477  ...          NaN             NaN
N-CTS1034  Ha &                      41.266  ...          NaN             NaN
N-CTS1035  &                         24.906  ...          NaN             NaN
N-Fariall30=Mrk 1271 = [F80] 30      109.98  ...          NaN             NaN
N-IIZw40-conti                       111.85  ...          NaN             NaN
N-IIZW70-conti   &                   502.18  ...          NaN             NaN
N-Mrk1318-conti                      48.763  ...          NaN             NaN
N-Mrk36-conti  $ $                   103.59  ...          NaN             NaN
N-MS01-conti = [SC98] 01             38.877  ...          NaN             NaN
N-MS12-conti = [ SC98] 68 $          38.894  ...          NaN             NaN
N-MS13-conti = [SC98] 88             68.897  ...          NaN             NaN
N-Tol0505-conti                       76.11  ...            F  Significance F
N-Tol0528-conti  $                   44.955  ...      11.0896      0.00495627
N-Tol0610-conti                      83.705  ...          NaN             NaN
N-Tol0633-conti  &                   112.36  ...          NaN             NaN
N-Tol0645-conti &                    70.012  ...          NaN             NaN
N-Tol0957-conti                      297.63  ...          NaN             NaN
N-Tol1004-conti Ha                   576.33  ...          NaN             NaN
N-Tol1025-conti  &                   191.18  ...      P-value       Lower 95%
N-Tol1147-conti                      60.958  ...  4.38784e-17         36.2507
N-Tol1223-conti2 – 2stars            21.241  ...  4.38784e-17         36.2507
N-Tol1345-conti2 – star              64.979  ...          NaN             NaN
N-Tol1924-conti – star Ha            467.69  ...          NaN             NaN
...                                     ...  ...          ...             ...
NaN                                     NaN  ...          NaN             NaN
NaN                                     NaN  ...          NaN             NaN
NaN                                     NaN  ...          NaN             NaN

In [ ]:
plt.scatter(y=dados['y'], x=dados['x1'], color='blue', s=50, alpha=.5)
X_plot = sp.linspace(min(dados['x1']), max(dados['x1']), len(dados['x1']))
plt.plot(X_plot, X_plot*reg.params[1] + reg.params[0], color='r')
plt.ylim(-11,16)
plt.xlim(-2.5,3)
plt.title('Reta de regressão')
plt.ylabel('$y$ - Variável Dependente')
plt.xlabel('$x1$ - Preditor')
plt.show()